<!-- MOBILE HEADER -->
<div class="header-mobile">
  <button class="navbar-toggler" id="navbarMobileButton"><svg class="icon-humburger" xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 30 20"><g fill="none" fill-rule="evenodd" stroke="#B4975A" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"><path d="M29 10H1M29 1H1M29 19H1.278"></path></g></svg></button>
  <a href="/"><img src="/uploads/pga-logo.svg" alt="Media Center Logo" width="100" height="30"></a>
</div>
