{% assign tags = '' | split: ',' %}
{% assign unique_tags = '' | split: ',' %}

{% assign article_tags =  site.press-releases | map: 'championship(s)' | join: ',' | join: ',' | split: ',' %}

{% for tag in article_tags '%}
  {% assign tags = tags | push: tag %}
{% endfor %}
{% assign tags = tags | sort %}
{% for tag in tags %}
  <!-- If not equal to previous then it must be unique as sorted -->
  {% unless tag == previous %}

  <!-- Push to unique_tags -->
  {% assign unique_tags = unique_tags | push: tag %}
  {% endunless %}

  {% assign previous = tag %}
{% endfor %}
