<!-- TEMPORARY TABLE PLACEHOLDER DATA -->
<h4>{{ site.data.lorem.yardage_coming_soon }}</h4>

<!-- <table class="table-thin mb-5">
  <thead>
    <tr>
      <th>HOLE</th>
      <th>YARDAGE</th>
      <th></th>
      <th>PAR</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>442 (M)</td>
      <td>375 (W)</td>
      <td>4</td>
    </tr>
    <tr>
      <td>2</td>
      <td>442 (M)</td>
      <td>375 (W)</td>
      <td>4</td>
    </tr>
    <tr>
      <td>3</td>
      <td>442 (M)</td>
      <td>375 (W)</td>
      <td>4</td>
    </tr>
    <tr>
      <td>4</td>
      <td>442 (M)</td>
      <td>375 (W)</td>
      <td>4</td>
    </tr>

    <tr>
      <td>5</td>
      <td>442 (M)</td>
      <td>375 (W)</td>
      <td>4</td>
    </tr>
    <tr>
      <td>6</td>
      <td>442 (M)</td>
      <td>375 (W)</td>
      <td>4</td>
    </tr>
    <tr>
      <td>7</td>
      <td>442 (M)</td>
      <td>375 (W)</td>
      <td>4</td>
    </tr>
    <tr>
      <td>8</td>
      <td>442 (M)</td>
      <td>375 (W)</td>
      <td>4</td>
    </tr>
    <tr>
      <td>9</td>
      <td>442 (M)</td>
      <td>375 (W)</td>
      <td>4</td>
    </tr>
    <tr>
      <td>10</td>
      <td>442 (M)</td>
      <td>375 (W)</td>
      <td>4</td>
    </tr>
    <tr>
      <td>11</td>
      <td>442 (M)</td>
      <td>375 (W)</td>
      <td>4</td>
    </tr>
    <tr>
      <td>12</td>
      <td>442 (M)</td>
      <td>375 (W)</td>
      <td>4</td>
    </tr>
    <tr>
      <td>13</td>
      <td>442 (M)</td>
      <td>375 (W)</td>
      <td>4</td>
    </tr>
    <tr>
      <td>14</td>
      <td>442 (M)</td>
      <td>375 (W)</td>
      <td>4</td>
    </tr>
    <tr>
      <td>15</td>
      <td>442 (M)</td>
      <td>375 (W)</td>
      <td>4</td>
    </tr>
    <tr>
      <td>16</td>
      <td>442 (M)</td>
      <td>375 (W)</td>
      <td>4</td>
    </tr>
    <tr>
      <td>17</td>
      <td>442 (M)</td>
      <td>375 (W)</td>
      <td>4</td>
    </tr>
    <tr>
      <td>18</td>
      <td>442 (M)</td>
      <td>375 (W)</td>
      <td>4</td>
    </tr>
  </tbody>
</table> -->